nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  height: 75px;
  color: #013d21;
}

.navbar-brand {
  color: #013d21;
  font-weight: bolder;
}

.nav-group {
  margin-right: 50px;
}

.nav-text {
  color: rgb(11, 65, 45) !important;
  font-weight: 900;
  font-size: large;
}
